@import "../_common"

.home-secB
    display: grid
    grid-template-columns: repeat(2, 1fr)
    .left
        background: linear-gradient(90deg, #6D5DCF 0%, #13958F 100%)
        padding: 50px 100px 50px 50px
        display: flex
        flex-direction: column
        justify-content: center
        h2
            @include font(700)
            color: $white
            max-width: 450px
            font-size: 60px
            line-height: 60px
            margin-bottom: 32px
            font-family: $Montreal
        p
            color: white
        a
            margin-top: 62px

    .right
        img
            width: 100%
            height: 100%
            object-fit: cover

.home-secC
    padding: 70px 0
    .container
        .row
            display: grid
            grid-template-columns: 1fr 362px 360px
            align-items: center
            .left
                height: fit-content
                h6
                    font-size: 20px
                    line-height: 24px
                    @include font(500)
                    color: $secondary
                    margin-bottom: 32px
                h2
                    font-size: 48px
                    line-height: 48px
                    font-family: $Montreal
                    color: $primary
                    font-weight: 300
                    padding-left: 32px
                    border-left: 4px solid $tertiary
                .stat
                    margin-top: 52px
                    display: grid
                    grid-template-columns: repeat(3, 1fr)
                    gap: 24px
                    .item
                        p
                            color: $text
                        h4
                            background: linear-gradient(90deg, #6D5DCF 0%, #13958F 100%)
                            -webkit-background-clip: text
                            background-clip: text
                            color: transparent
                            font-family: $Montreal
                            @include font(700)
            .middle
                video
                    width: 100%
                    height: 519px
                    object-fit: cover
                    -webkit-mask-image: url(../../../public/vector/icon-color.svg)
                    mask-image: url(../../../public/vector/icon-color.svg)
                    -webkit-mask-size: 100% 100%
                    mask-size: 100% 100%
                    -webkit-mask-repeat: no-repeat
                    mask-repeat: no-repeat
                    -webkit-mask-position: center
                    mask-position: center
            .right
                height: fit-content
                p
                    color: $text
                a
                    margin-top: 24px

.home-secD
    position: relative
    height: calc(100vh - var(--headerheight))
    overflow: hidden
    video
        width: 100%
        height: 100%
        object-fit: cover
        opacity: 30%
        position: absolute
        inset: 0
    &::before
        position: absolute
        inset: 0
        background: linear-gradient(90deg, #6D5DCF 0%, #13958F 100%)
        content: " "
    .content
        padding: 100px var(--containerfluid)
        z-index: 2
        position: relative
        display: grid
        grid-template-columns: repeat(2, 1fr)
        height: 100%
        .left
            h2
                @include font(700)
                font-family: $Montreal
                color: $white
        .right
            display: flex
            flex-direction: column
            justify-content: end
            p
                color: $white
                font-size: 24px
                line-height: 30px
                @include font(600)
            .btn
                margin-top: 32px

.experts_sec
    padding-top: 100px
    .main_wrapper
        --gap: 50px
        gap: var(--gap)
        .heading
            flex: 1
            max-width: 50%
            width: 100%
            text-align: left
            h2
                line-height: 1
            p
                margin-top: 20px
                max-width: 418px
            .btn
                margin-top: 60px
        .experts_wrapper
            flex: 1
            max-width: 50%
            width: 100%
            display: flex
            flex-wrap: wrap
            gap: 20px
            height: 570px
            overflow: hidden
            .expert_slider
                flex: 1
                max-width: 50%
                width: 100%
                height: 100%
                .swiper-wrapper
                    height: 100%
                    transition-timing-function: linear !important
                .team_col
                    border-radius: 10px
                    cursor: pointer
                    &:hover
                        figure
                            img
                                transform: scale(1.1)
                    &::before
                        background: linear-gradient(0deg, #00000080, transparent)
                        border-radius: inherit
                    figure
                        border-radius: inherit
                        img
                            border-radius: inherit
                    figcaption
                        padding: 0 25px 25px
                        text-align: center
                        h6
                            color: $white
                            font-size: 20px
                            font-weight: 600
                            line-height: 1.2
                        p
                            margin-top: 5px
                            color: #FFFFFFB2
                            font-size: 14px
                            font-weight: 500
                            line-height: 1.3

.director_message
    padding-top: 80px
    background: linear-gradient(90deg, #7F59A0, #205A91, #419573)
    @include before(url("/vector/vector2.svg"))
    &::before
        background-repeat: no-repeat
        background-position: 99% 100%
    .main_wrapper
        --gap: 100px
        gap: var(--gap)
        justify-content: space-between
        figure
            flex: 0 1 auto
            max-width: 35%
            width: 100%
            line-height: 0
        figcaption
            flex: 1
            max-width: 70%
            width: 100%
            h4
                margin-top: 60px
                color: $white
            .desc
                margin-top: 20px
                *
                    color: $white
                p
                    &:not(:last-child)
                        margin-bottom: 10px
            .below_wrap
                display: flex
                flex-wrap: wrap
                align-items: center
                gap: 28px
                margin-top: 65px
                .play-btn
                    flex: 0 1 auto
                .director_details
                    flex: 1
                    h6
                        font-weight: 700
                        color: $white
                        font-size: 24px
                    p
                        font-size: 14px
                        color: $white

.healing_voice
    background: #F4F4F4
    .upper_sec
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: 60px
        margin-bottom: 65px
        .heading
            max-width: 318px
            h2
                font-size: 36px
                color: $primary
                line-height: 1
        .tab-nav
            display: flex
            flex-wrap: wrap
            align-items: center
            gap: 20px
            li
                cursor: pointer
                display: flex
                align-items: center
                gap: 10px
                padding: 10px 20px
                border-radius: 10px
                background: $white
                transition: .5s ease
                &.active
                    background: var(--gradient-a)
                    .icon
                        filter: brightness(0) invert(1)
                    p
                        color: $white
                .icon
                    flex: 0 1 auto
                    width: 35px
                    height: 35px
                p
                    line-height: 1.2
                    color: $primary
                    font-weight: 500
                    transition: .5s ease

    .healing_wrapper
        .tabs
            &:not(.active)
                transform: translateY(50px)
            .healing_slider
                max-width: 97%
                .swiper-slide
                    transition: .5s ease
                    &:not(.swiper-slide-active)
                        opacity: 0.1
                .healing_col
                    border-radius: 5px
                    width: 100%
                    height: 100%
                    background: $white
                    figure
                        position: relative
                        border-radius: 5px 5px 0 0
                        img
                            border-radius: inherit
                        .play-btn
                            position: absolute
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                    figcaption
                        border-radius: 0 0 5px 5px
                        padding: 20px
                        h6
                            font-size: 16px
                            line-height: 1.3
                            font-weight: 500

    .btn_wrap
        margin-top: 50px
        justify-content: center

.enquire_now
    .main_wrapper
        --gap: 80px
        gap: var(--gap)
        figure
            flex: 1
            max-width: 50%
            width: 100%
        .form_wrapper
            flex: 1
            max-width: 50%
            width: 100%
            .heading
                max-width: 431px
                margin-bottom: 10px
                h2
                    color: $primary
                    font-size: 36px
                    line-height: 1.2
