@import "../_common"

.home-secB
    display: grid
    grid-template-columns: repeat(2, 1fr)
    @include media(768)
        grid-template-columns: 1fr
    .left
        background: linear-gradient(90deg, #6D5DCF 0%, #13958F 100%)
        padding: 50px 100px 50px 50px
        display: flex
        flex-direction: column
        justify-content: center
        @include media(1280)
            padding: 45px 55px 45px 40px
        @include media(991)
            padding: 40px 50px 40px 40px
        @include media(768)
            padding: 40px 30px
        @include media(540)
            padding: 35px 20px
        h2
            @include font(700)
            color: $white
            max-width: 450px
            font-size: 60px
            line-height: 60px
            margin-bottom: 32px
            font-family: $Montreal
            @include media(1280)
                font-size: 48px
                line-height: 1
                margin-bottom: 25px
            @include media(991)
                font-size: 42px
                margin-bottom: 20px
            @include media(768)
                font-size: 36px
                margin-bottom: 15px
            @include media(540)
                font-size: 28px
                margin-bottom: 12px
        p
            color: white
        a
            margin-top: 62px
            @include media(1280)
                margin-top: 50px
            @include media(991)
                margin-top: 30px
            @include media(768)
                margin-top: 25px

.home-secC
    padding: 70px 0
    @include media(1280)
        padding: 60px 0
    @include media(991)
        padding: 50px 0
    @include media(768)
        padding: 40px 0
    .container
        .row
            display: grid
            grid-template-columns: 1fr 362px 360px
            align-items: center
            @include media(1280)
                grid-template-columns: 1fr .9fr .8fr
            @include media(768)
                grid-template-columns: 1fr
                gap: 20px
            .left
                height: fit-content
                h6
                    font-size: 20px
                    line-height: 24px
                    @include font(500)
                    color: $secondary
                    margin-bottom: 32px
                    @include media(1280)
                        margin-bottom: 28px
                    @include media(991)
                        margin-bottom: 25px
                    @include media(768)
                        margin-bottom: 15px
                        font-size: 18px
                    @include media(540)
                        margin-bottom: 12px
                h2
                    font-size: 48px
                    line-height: 48px
                    font-family: $Montreal
                    color: $primary
                    font-weight: 300
                    padding-left: 32px
                    border-left: 4px solid $tertiary
                    @include media(1280)
                        padding-left: 25px
                        font-size: 40px
                        line-height: 1
                    @include media(991)
                        font-size: 32px
                        padding-left: 20px
                    @include media(768)
                        font-size: 28px
                        padding-left: 15px
                        border-width: 3px
                    @include media(540)
                        font-size: 26px
                        line-height: 1.1
                .stat
                    margin-top: 52px
                    display: grid
                    grid-template-columns: repeat(3, 1fr)
                    gap: 24px
                    @include media(1280)
                        margin-top: 40px
                        gap: 15px
                    @include media(991)
                        margin-top: 25px
                    @include media(768)
                        margin: 20px auto 0
                        max-width: 98%
                    @include media(540)
                        max-width: 100%
                    .item
                        p
                            color: $text
                            @include media(1280)
                                line-height: 1.2
                            @include media(991)
                                font-size: 14px
                        h4
                            background: linear-gradient(90deg, #6D5DCF 0%, #13958F 100%)
                            -webkit-background-clip: text
                            background-clip: text
                            color: transparent
                            font-family: $Montreal
                            @include font(700)
                            @include media(1280)
                                font-size: 28px
                                margin-bottom: 5px
                            @include media(991)
                                font-size: 24px
                            @include media(540)
                                font-size: 22px
                                margin-bottom: 3px
            .middle
                @include media(768)
                    order: -1
                video
                    width: 100%
                    height: 519px
                    @include media(1280)
                        height: 450px
                    @include media(991)
                        height: 300px
                    @include media(540)
                        height: 250px
                    object-fit: cover
                    -webkit-mask-image: url(../../../public/vector/icon-color.svg)
                    mask-image: url(../../../public/vector/icon-color.svg)
                    -webkit-mask-size: 100% 100%
                    mask-size: 100% 100%
                    -webkit-mask-repeat: no-repeat
                    mask-repeat: no-repeat
                    -webkit-mask-position: center
                    mask-position: center
            .right
                height: fit-content
                @include media(991)
                    margin-left: 20px
                @include media(768)
                    margin: 0
                p
                    color: $text
                .btn
                    margin-top: 24px
                    @include media(991)
                        margin-top: 20px
                    @include media(540)
                        margin-top: 15px

.home-secD
    position: relative
    height: calc(100vh - var(--headerheight))
    overflow: hidden
    @include media(1280)
        height: 80vh
    @include media(540)
        height: 410px
    video
        width: 100%
        height: 100%
        object-fit: cover
        opacity: 30%
        position: absolute
        inset: 0
    &::before
        position: absolute
        inset: 0
        background: linear-gradient(90deg, #6D5DCF 0%, #13958F 100%)
        content: " "
    .content
        padding: 100px var(--containerfluid)
        z-index: 2
        position: relative
        display: grid
        grid-template-columns: repeat(2, 1fr)
        height: 100%
        @include media(1280)
            padding: 70px var(--containerfluid)
        @include media(991)
            padding: 50px var(--containerfluid)
        @include media(768)
            padding: 40px var(--containerfluid)
        @include media(540)
            padding: 30px var(--containerfluid)
            grid-template-columns: 1fr
        .left
            h2
                @include font(700)
                font-family: $Montreal
                color: $white
                @include media(1280)
                    font-size: 42px
                @include media(991)
                    font-size: 36px
                @include media(768)
                    font-size: 32px
                @include media(540)
                    font-size: 28px
                    text-align: center
        .right
            display: flex
            flex-direction: column
            justify-content: end
            @include media(540)
                justify-content: start
                text-align: center
            p
                color: $white
                font-size: 24px
                @include font(600)
                @include media(991)
                    font-size: 22px
                @include media(768)
                    font-size: 20px
                @include media(540)
                    font-size: 18px
                    font-weight: 500
            .btn
                margin-top: 32px
                @include media(1280)
                    margin-top: 25px
                @include media(768)
                    margin-top: 20px
                @include media(540)
                    margin: 20px auto 0

.experts_sec
    padding-top: 100px
    @include media(1280)
        padding-top: 80px
    @include media(991)
        padding: 50px 0
    @include media(768)
        padding: 40px 0
    .main_wrapper
        --gap: 50px
        gap: var(--gap)
        @include media(1280)
            --gap: 40px
        .heading
            flex: 1
            max-width: 50%
            width: 100%
            text-align: left
            @include media(991)
                flex: 0 1 100%
                max-width: 100%
                text-align: center
            h2
                line-height: 1
                @include media(1280)
                    font-size: 42px
                @include media(991)
                    font-size: 36px
                    max-width: 400px
                    margin: 0 auto
                @include media(768)
                    font-size: 32px
                @include media(540)
                    font-size: 24px
            p
                margin-top: 20px
                max-width: 418px
                @include media(1280)
                    margin-top: 15px
                @include media(991)
                    max-width: 600px
                    margin: 15px auto 0
                @include media(768)
                    max-width: 460px
                @include media(540)
                    margin: 10px auto 0
            .btn
                margin-top: 60px
                @include media(1280)
                    margin-top: 40px
                @include media(991)
                    margin-top: 25px
                @include media(768)
                    margin-top: 20px
                @include media(540)
                    margin-top: 15px
        .experts_wrapper
            flex: 1
            max-width: 50%
            width: 100%
            display: flex
            flex-wrap: wrap
            gap: 20px
            height: 570px
            overflow: hidden
            @include media(1280)
                height: 500px
                gap: 18px
            @include media(991)
                flex: 0 1 100%
                max-width: 100%
                height: 100%
                gap: 25px
            @include media(540)
                gap: 0
            .expert_slider
                flex: 1
                max-width: 50%
                width: 100%
                height: 100%
                @include media(991)
                    flex: 0 1 100%
                    max-width: 100%
                .swiper-wrapper
                    height: 100%
                    transition-timing-function: linear !important

.director_message
    padding-top: 80px
    background: linear-gradient(90deg, #7F59A0, #205A91, #419573)
    @include before(url("/vector/vector2.svg"))
    &::before
        background-repeat: no-repeat
        background-position: 99% 100%
        @include media(1280)
            background-size: 20%
        @include media(768)
            background-size: 40%
        @include media(540)
            display: none
    @include media(1280)
        padding-top: 50px
    @include media(768)
        padding-top: 40px
    .main_wrapper
        position: relative
        z-index: 1
        --gap: 100px
        gap: var(--gap)
        justify-content: space-between
        @include media(1280)
            --gap: 60px
        @include media(991)
            --gap: 40px
            align-items: flex-end
        @include media(540)
            --gap: 35px
        figure
            flex: 0 1 auto
            max-width: 35%
            width: 100%
            line-height: 0
            @include media(768)
                flex: 0 1 100%
                order: 1
                max-width: 50%
                margin: 0 auto
            @include media(540)
                max-width: 70%
        figcaption
            flex: 1
            max-width: 70%
            width: 100%
            @include media(991)
                padding-bottom: 50px
            @include media(768)
                flex: 0 1 100%
                max-width: 100%
                padding-bottom: 0
            h4
                margin-top: 60px
                color: $white
                @include media(1280)
                    margin-top: 30px
                @include media(991)
                    margin-top: 0
                    font-size: 32px
                @include media(768)
                    font-size: 28px
                    line-height: 1.2
                @include media(540)
                    font-size: 24px
            .desc
                margin-top: 20px
                @include media(768)
                    margin-top: 18px
                *
                    color: $white
                p
                    &:not(:last-child)
                        margin-bottom: 10px
            .below_wrap
                display: flex
                flex-wrap: wrap
                align-items: center
                gap: 28px
                margin-top: 65px
                @include media(1280)
                    margin-top: 50px
                @include media(991)
                    margin-top: 30px
                    gap: 20px
                @include media(768)
                    margin-top: 25px
                @include media(540)
                    margin-top: 20px
                    gap: 15px
                .play-btn
                    flex: 0 1 auto
                .director_details
                    flex: 1
                    h6
                        font-weight: 700
                        color: $white
                        font-size: 24px
                        @include media(991)
                            font-size: 22px
                        @include media(540)
                            font-size: 18px
                            margin-bottom: 5px
                    p
                        font-size: 14px
                        color: $white
                        @include media(540)
                            font-size: 12px

.healing_voice
    background: #F4F4F4
    .upper_sec
        display: flex
        flex-wrap: wrap
        align-items: center
        gap: 60px
        margin-bottom: 65px
        @include media(1336)
            gap: 20px
        @include media(1280)
            gap: 25px
            margin-bottom: 50px
        @include media(768)
            gap: 20px
            margin-bottom: 40px
        @include media(540)
            margin-bottom: 30px
        .heading
            max-width: 318px
            @include media(1280)
                flex: 0 1 100%
            @include media(768)
                max-width: 280px
            @include media(540)
                text-align: center
                margin: 0 auto
                max-width: 240px
            h2
                font-size: 36px
                color: $primary
                line-height: 1
                @include media(991)
                    font-size: 32px
                @include media(768)
                    font-size: 28px
                @include media(540)
                    font-size: 24px
        .tab-nav
            display: flex
            flex-wrap: wrap
            align-items: center
            gap: 20px
            @include media(991)
                flex-wrap: nowrap
            @include media(768)
                overflow-y: hidden
                overflow-x: auto
                @include scrollbar($width: 3px)
                gap: 15px
            @include media(540)
                gap: 12px
            li
                cursor: pointer
                display: flex
                align-items: center
                gap: 10px
                padding: 10px 20px
                border-radius: 10px
                background: $white
                transition: .5s ease
                @include media(991)
                    padding: 10px 15px
                    border-radius: 5px
                @include media(768)
                    padding: 8px 12px
                @include media(540)
                    padding: 4px 10px
                    gap: 6px
                &.active
                    background: var(--gradient-a)
                    .icon
                        filter: brightness(0) invert(1)
                    p
                        color: $white
                .icon
                    flex: 0 1 auto
                    width: 35px
                    height: 35px
                    @include media(768)
                        width: 30px
                        height: 30px
                p
                    flex: 1
                    line-height: 1.2
                    color: $primary
                    font-weight: 500
                    transition: .5s ease
                    @include media(768)
                        font-size: 14px
                    @include media(540)
                        font-size: 12px
                        white-space: nowrap

    .healing_wrapper
        .tabs
            &:not(.active)
                transform: translateY(50px)
            .healing_slider
                max-width: 97%
                .swiper-slide
                    transition: .5s ease
                    &:not(.swiper-slide-active)
                        opacity: 0.1
                        .healing_col
                            pointer-events: none
                .healing_col
                    border-radius: 5px
                    width: 100%
                    height: 100%
                    background: $white
                    figure
                        line-height: 0
                        position: relative
                        border-radius: 5px 5px 0 0
                        img
                            border-radius: inherit
                        .play-btn
                            position: absolute
                            top: 50%
                            left: 50%
                            transform: translate(-50%, -50%)
                    figcaption
                        border-radius: 0 0 5px 5px
                        padding: 20px
                        @include media(1280)
                            padding: 15px
                        @include media(540)
                            padding: 15px 12px
                        h6
                            font-size: 16px
                            line-height: 1.3
                            font-weight: 500
                            @include media(540)
                                font-size: 14px

    .btn_wrap
        margin-top: 50px
        justify-content: center
        @include media(1280)
            margin-top: 40px
        @include media(540)
            margin-top: 30px

.enquire_now
    padding: 100px 0
    @include media(1280)
        padding: 60px 0
    @include media(991)
        padding: 50px 0
    @include media(540)
        padding: 40px 0
    .main_wrapper
        --gap: 80px
        gap: var(--gap)
        @include media(1280)
            align-items: start
            --gap: 50px
        @include media(991)
            --gap: 30px
        @include media(540)
            --gap: 25px
        figure
            flex: 1
            max-width: 50%
            width: 100%
            @include media(991)
                max-width: 45%
            @include media(768)
                flex: 0 1 100%
                max-width: 100%
        .form_wrapper
            flex: 1
            max-width: 50%
            width: 100%
            @include media(991)
                max-width: 55%
            @include media(768)
                flex: 0 1 100%
                max-width: 100%
            .heading
                max-width: 431px
                margin-bottom: 30px
                @include media(991)
                    margin-bottom: 25px
                @include media(768)
                    max-width: 380px
                    margin-bottom: 20px
                @include media(540)
                    margin-bottom: 25px
                h2
                    color: $primary
                    font-size: 36px
                    line-height: 1.2
                    @include media(1280)
                        font-size: 32px
                    @include media(991)
                        font-size: 28px
                    @include media(540)
                        font-size: 24px
            .form.home-form
                --item: 2
                --gaplr: 40px
                @include media(991)
                    --gaplr: 20px
                @include media(540)
                    --item: 1
                    --gaptb: 25px
                .sbmt-grp
                    margin-top: 1rem
                    text-align: center
                    @include media(991)
                        margin-top: 10px

.treatment_sec
    position: relative
    width: 100%
    height: 100vh
    max-height: 90vh
    background: $white
    overflow: hidden
    @include media(991)
        max-height: 80vh
    @include media(540)
        max-height: 520px
    .circle_wrapper
        position: absolute
        left: -80%
        top: 50%
        transform: translate(80%, -50%)
        border-radius: 50%
        --x-position: 66vw
        --y-position: 66vw
        width: var(--x-position)
        height: var(--y-position)
        border: 1px solid #CFCFCF
        --dot: 30px
        pointer-events: none
        z-index: 2
        @include media(1280)
            --x-position: 60vw
            --y-position: 60vw
        @include media(991)
            // display: none
        @include media(768)
            --dot: 25px
        @include media(540)
            --x-position: 70vw
            --y-position: 70vw
            left: -98%
            --dot: 22px
        .circle_rotater
            position: absolute
            width: 100%
            height: 100%
            inset: 0
            border-radius: 50%
            transition: 2s ease
            .dots
                position: absolute
                top: 50%
                left: 50%
                width: var(--dot)
                height: var(--dot)
                margin-top: calc(var(--dot) / -2)
                margin-left: calc(var(--dot) / -2)
                border-radius: 50%
                background: #D24343
                filter: blur(5)
                transition: 1s ease
                @for $i from 1 through 6
                    &:nth-child(#{$i})
                        $angle: ($i - 1) * 60deg
                        transform: rotate(#{$angle}) translateX(calc( var(--x-position) / 2 )) rotate(#{-$angle}) scale(.5)
                &.active
                    @for $i from 1 through 6
                        &:nth-child(#{$i})
                            $angle: ($i - 1) * 60deg
                            transform: rotate(#{$angle}) translateX(calc( var(--x-position) / 2 )) rotate(#{-$angle}) scale(1)
        .title
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            position: absolute
            top: 50%
            right: 30%
            transform: translate(30%, -50%)
            @include media(1280)
                right: 20%
                transform: translate(20%, -50%)
            @include media(768)
                right: 18%
            @include media(540)
                font-size: 12px
                right: 14%
    .content_wrapper
        width: 100%
        height: 100%
        position: relative
        .content_slider
            width: 100%
            height: 100%
            .swiper-slide
                transition: .6s ease
                opacity: 0
                // &:not(.swiper-slide-active)
                //     .content_col
                //         opacity: .2
                &.swiper-slide-active
                    opacity: 1
                &.swiper-slide-prev
                    opacity: .2
                    // @include media(991)
                    //     opacity: 1
                    .content_col
                        transform: rotate(-10deg)
                        // @include media(991)
                        //     transform: none
                &.swiper-slide-next
                    opacity: .2
                    // @include media(991)
                    //     opacity: 1
                    .content_col
                        transform: rotate(10deg)
                        // @include media(991)
                        //     transform: none
            .content_col
                position: relative
                border-top: 1px solid #CFCFCF
                padding: 45px var(--containerfluid) 25px
                display: flex
                justify-content: end
                transform-origin: center left
                transition: 1s ease
                @include media(1336)
                    padding: 30px var(--containerfluid) 20px
                @include media(768)
                    padding: 25px var(--containerfluid) 20px
                @include media(540)
                    padding: 20px var(--containerfluid)
                .count
                    background: $white
                    font-size: 32px
                    font-weight: 400
                    color: $text
                    position: absolute
                    top: -24px
                    left: 50%
                    transform: translateX(-50%)
                    @include media(1280)
                        font-size: 28px
                        top: -20px
                        left: 40%
                    @include media(768)
                        font-size: 24px
                    @include media(540)
                        font-size: 20px
                        top: -15px
                        left: 55%
                .content_details
                    display: flex
                    flex-wrap: wrap
                    align-items: start
                    --gap: 45px
                    gap: var(--gap)
                    @include media(1280)
                        --gap: 35px
                    @include media(768)
                        --gap: 0
                    figcaption
                        flex: 1
                        max-width: 360px
                        @include media(1336)
                            max-width: 500px
                        @include media(991)
                            max-width: 450px
                        @include media(768)
                            max-width: 330px
                        @include media(540)
                            max-width: 210px
                        h4
                            font-size: 36px
                            color: $primary
                            margin-bottom: 10px
                            line-height: 1.1
                            @include media(1336)
                                font-size: 32px
                            @include media(991)
                                font-size: 28px
                            @include media(768)
                                font-size: 24px
                            @include media(540)
                                font-size: 20px
                                margin-bottom: 6px
                        .desc
                            height: 100px
                            overflow-y: auto
                            // @include scrollbar(width: 1px)
                            @include media(1280)
                                height: 97px
                            @include media(991)
                                height: 90px
                            p
                                color: $text
                                font-weight: 400
                                &:not(:last-child)
                                    margin-bottom: 10px
                                @include media(991)
                                    @include line-clamp(5)
                                @include media(768)
                                    font-size: 14px
                                @include media(540)
                                    font-size: 12px
                        .btn
                            margin-top: 20px
                            @include media(1336)
                                margin-top: 10px
                            @include media(540)
                                margin-top: 5px
                    figure
                        flex: 0 1 140px
                        border-radius: 10px
                        @include media(991)
                            display: none
                        img
                            border-radius: inherit
