@import "../_common"

header
    top: 0
    position: sticky
    height: var(--headerheight)
    padding: var(--headerpadding) var(--containerfluid)
    z-index: 5
    background: $white
    transition: .5s ease
    .header-wrapper
        display: flex
        align-items: center
        justify-content: space-between
        height: 100%
        .logo
            height: 100%
        .right
            display: flex
            align-items: center
            gap: 28px
            .drop-down
                display: flex
                align-items: center
                gap: 8px
                position: relative
                --triangle: 10px
                cursor: pointer
                &:hover
                    .dropdown-menu
                        opacity: 1
                        transform: translate(-50%, 0) scale3d(1, 1, 1)
                span
                    color: $primary
                    @include font(500)
                .dropdown-menu
                    position: absolute
                    top: calc(100% + var(--triangle))
                    left: 50%
                    transform: translateX(-50%) perspective(2000px) translate3d(0px, -25px, 50px) rotateX(-90deg) scale3d(0.86, 0.75, 1) translateY(50px)
                    transform-origin: top
                    transition: .5s ease
                    opacity: 0
                    width: 400px
                    &::before
                        content: ""
                        display: block
                        position: absolute
                        bottom: calc(100% - var(--triangle) / 2)
                        left: 50%
                        transform: translate(-50%)
                        width: var(--triangle)
                        height: var(--triangle)
                        transform: rotate(45deg)
                        z-index: -1
                        background: var(--primary)
                    ul
                        background: var(--white)
                        padding: 15px 0
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
                        border-radius: 5px
                        li
                            a
                                color: $black
                                display: flex
                                align-items: start
                                gap: 12px
                                padding: 10px 18px
                                transition: .5s ease
                                &:hover
                                    background: #4b438d24
                                img, svg
                                    flex: 0 1 auto
                                    width: 35px
                                    height: 35px
                                    line-height: 0
                                figcaption
                                    flex: 1
                                    h6
                                        font-size: 16px
                                        font-weight: 600
                                        line-height: 1.1
                                        margin-bottom: 7px
                                        color: $primary
                                    p
                                        font-size: 14px
                                        line-height: 1.2
                                        color: $text

            .ham-btn
                span
                    background: $primary
                    height: 2px
                    width: 44px
                    display: block
                    &:not(:last-child)
                        margin-bottom: 6px

header
    &.header-fixed
        transition: .5s ease
        height: var(--headerfixed)
        box-shadow: 0 2px 8px #63636333

.video-pop.model
    left: 0
    right: 0
    background: #0000007a
    z-index: 9
    max-width: 100%
    transform: translateY(100%)
    transition: .5s ease
    &.is-open
        transform: translateY(0%)
    .close-video
        position: absolute
        bottom: calc(100% + 20px)
        top: auto
        right: -40px
        height: 50px
        width: 50px
        border-radius: 50%
        background: $black
        display: flex
        align-items: center
        justify-content: center
        @include media(675)
            right: 0
        &:hover
            background: $black
        svg
            height: 35%
            width: 35%
        path
            stroke-width: 2
            stroke: $white
    .model-body
        position: absolute
        top: 50%
        left: 50%
        translate: -50% -50%
        width: 100%
        max-width: 50%
        @include media(675)
            max-width: 95%
        iframe
            width: 100%
            aspect-ratio: 1.9
            border: 2px solid $white

.product-not-found
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    z-index: 1
    &.not-found2
        position: relative
    .nt-fnd-wrp
        text-align: center
        .ico
            width: 120px
            margin-left: auto
            margin-right: auto
            filter: grayscale(1)
        p
            font-size: 24px
            margin: 10px 0 3rem
            color: $black

.thanks_banner
    margin-top: var(--headerheight)
    .bg
        height: calc( 100vh - var(--headerfixed) )
        .banner-wrapper
            .content
                text-align: center
                figure
                    width: 50px
                    margin: 0 auto
                    padding-bottom: 20px
                    img
                        height: 100%
                h1
                    font-size: 60px
                    color: $white
                    font-weight: 500
                    line-height: 1.5
                p
                    font-size: 20px
                    color: $white
                    padding-bottom: 50px

.model.ham-pop
    right: 0
    max-width: 480px
    transform: translateX(100%)
    background: linear-gradient(0deg, #d1b6e5, #ffffff 60%)
    transition: .5s ease
    z-index: 10
    &::before
        content: ""
        position: absolute
        left: 0
        bottom: 0
        width: 100%
        height: 100%
        background: url("/vector/icon.svg") no-repeat
        background-position: 98% 100%
        background-size: 50%
        opacity: .4
    &.is-open
        transform: translateX(0%)
    .close
        top: 17px
        right: 22px
        &:hover
            svg
                path
                    stroke: $black !important
        svg
            width: 25px
            path
                stroke: $text !important
                stroke-width: 2 !important
    .model-body
        padding: 0px 40px 30px
        margin-top: 60px
        height: calc(100% - 60px)
        overflow-y: auto
        display: flex
        flex-direction: column
        position: relative
        @include scrollbar(0px)
        @include media(540)
            padding: 0 20px 20px
            margin-top: 40px
        .icon
            width: 60px
            line-height: 0
            margin-bottom: 20px
            svg, img
                object-fit: contain
        .nav-list
            width: 100%
            >li
                &:not(:last-child)
                    margin-bottom: 15px
                &:not(.hasDropdown)
                    a
                        &:hover
                            transform: translateX(5px)
                &.hasDropdown
                    position: relative
                    cursor: pointer
                    &.active
                        p, a
                            color: $secondary
                            svg
                                transform: rotate(-90deg)
                        .dropdown-menu-ham
                            grid-template-rows: 1fr
                            >ul
                                border-bottom: 1px solid #dadada
                                padding: 10px 0
                    .dropdown-menu-ham
                        display: grid
                        grid-template-rows: 0fr
                        padding-top: 15px
                        transition: .5s ease
                        >ul
                            border-top: 1px solid #dadada
                            transition: .5s ease
                            overflow: hidden
                            li
                                a, p
                                    display: block
                                    font-size: 16px
                                    color: #666
                                    padding: 3px 0
                                    transition: .5s ease
                                    &:hover
                                        transform: translateX(5px)
                                        color: $secondary
                >a, p
                    display: flex
                    align-items: center
                    justify-content: space-between
                    font-size: 22px
                    color: #000
                    transition: .3s ease
                    @include font(500)
                    &:hover
                        color: $secondary
                    svg
                        transition: .5s ease
        .bottom-list
            margin-top: 2rem
            padding-top: 1rem
            display: flex
            align-items: center
            gap: 1rem
            border-top: 1px solid #dadada
            .social-icons
                display: flex
                flex-wrap: wrap
                align-items: center
                gap: 15px
                a
                    display: inline-flex
                    vertical-align: middle
                    align-items: center
                    justify-content: center
                    border: 1px solid $text
                    height: 40px
                    width: 40px
                    border-radius: 50%
                    color: $text
                    line-height: 0
                    overflow: hidden
                    svg
                        width: 20px
                        height: 20px
                        path
                            transition: none
                            &[stroke],&[fill="none"]
                                stroke: currentColor
                            &[fill]
                                fill: currentColor
                    &:hover
                        background-color: $secondary
                        border-color: $secondary
                        color: $white

.enquire-pop.model
    border-radius: 10px
    max-width: 580px
    height: fit-content
    max-height: 90vh
    top: 50%
    left: 50%
    overflow-y: auto
    transform: translate(-50%,100vh)
    transition: .7s ease
    &.is-open
        transition: .7s ease
        transform: translate(-50%,-50%)
    .close
        &:not(.btn)
            top: 20px
            right: 20px
    .model-body
        padding: 0px 35px 30px
        margin-top: 50px
        height: 100%
        min-height: fit-content
        @include scrollbar(3px,$white,#5e5e5e,8px)
        @include media(768)
            padding: 0px 15px 20px
        .title
            text-align: center
            margin-bottom: 1.5rem
            h4
                font-size: 32px
                color: $black
                @include font(500)
            p
                color: $text
                font-size: 14px
                max-width: 317px
                margin: 8px auto 0
                line-height: 1.3
                @include media(675)
                    font-size: 14px
                    max-width: 300px
        .form.enquire-form
            --gaptb: 28px
            --item: 2
            .sbmt-grp
                margin-top: 1rem
                text-align: center
